body {
  margin: 0;
  padding: 0;
 background-color: #1c2a1c;
  color: #e6f0e6;
  font-family: 'Mulish', sans-serif;
}

.container {
  min-height: 100vh;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.title {
  font-family: 'Edu QLD Hand', cursive;
  font-size: 2.5rem;
  color: #cceacc;
  margin-bottom: 2vh;
}

.name {
  color: #99ffcc;
}


.paragraph {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-top: 1rem;
  max-width: 800px;
}

.projet {
  display:grid;
  gap:20px;
  grid-template-columns:repeat(3, 3fr);
  border: solid white;
  padding: 10px;
  border-radius: 15px;
}
.projet h1 {
   text-align: center;
}
.projet1 {
  grid-column:1/2;
  grid-row:1/2;
  border: solid white;
  padding: 10px;
  margin-bottom: 4px;
  width:280px;
}
.projet2 {
  border: solid white;
  padding: 10px;
  width: 280px
}
.projet3 {
  border: solid white;
  padding: 10px;
  width: 280px
}

.projet1 a, .projet2 a, .projet3 a{
  color:white;
}

 button{
   margin-top: 10px;
   background-color: blue;
   border-radius: 8px;
}

.cv button a{
   color:blue;
   font-size:bold;
}
.footer a{
  color: white;
}



